streamlit>=1.30.0
numpy
pandas
matplotlib
plotly
pydeck
rasterio
tifffile
fpdf2
loguru
torch
torchvision
segmentation-models-pytorch
scikit-learn
scipy
earthengine-api
openmeteo-requests
requests-cache
retry-requests
folium
streamlit-folium
pymavlink
websockets
anyio
geopandas
shapely
opencv-python-headless
